@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&family=Josefin+Sans:ital@0;1&display=swap');

.submit-input {
    display: flex;
    margin-top: 100px;

}

input[type='button'] {
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 30px;
    background-color: #3333bba1;
    color: #fff;

    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 auto;

    cursor: pointer;
    transition: background-color 0.3s;
}

input[type='button']:hover {
    background-color: #3333bb;
}

input[type='button']:active {
    background-color: #030334d8;
}

@media only screen and (max-width:520px) {
    .submit-input {
        margin-bottom: 100px;

    }

    .submit-input input[type='button'] {
        width: 130px;
        height: 40px;
        font-size: 1.2rem;
    }

}