@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&family=Roboto:wght@400;500;600&family=Saira+Extra+Condensed&display=swap');

.result_container {
    background-color: #6a40a599;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 10px 20px 15px 10px #1d0343;
    margin-bottom: 40px;
}

.result {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    padding: 30px 0px 30px 20px;

}

.album_container {
    width: 90%;
    margin: 0 auto;
    border-bottom: 2px solid #fff;
    margin-bottom: 30px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.track_name {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1.75rem;
    font-weight: 500;

}

.small {
    display: flex;
    height: 30px;
    align-items: center;


}

.artist_name,
.album_name,
.album_link {
    color: #e0dfdf;
    font-size: 1rem;
    margin-right: 10px;
}

.artist_name, .album_name {
    padding-right: 10px;
    border-right: 1px solid #fff;

}

a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;

    transition: all 0.5s;
    
   
}

a:active {
    color: #1d0343;
    border-color: #1d0343;
}

.album_container p {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

.playlist_input {
    text-align: center;
}

.playlist_input input {
    margin-top: 50px;
    margin-bottom: 20px;
}

.input_playlist {
    width: 100%;
    margin-right: 50px;
}

.input_playlist input[type='text'] {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-bottom: 15px;
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;

    display: flex;
    justify-content: center;

    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;


}

@media only screen and (max-width:700px) {
    .result_container {
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 10px;
        margin-bottom: 0px;


    }

    .input_playlist input[type='text'],
    .result {
        font-size: 1.5rem;
        font-weight: 500;
    }
    .artist_name,
    .album_name,
    .album_link {
        margin-top: 25px;
        margin-bottom: 20px;
    }

}

@media only screen and (max-width:520px) {
    .result_container {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
        margin-bottom: 0px;

    }

    .result {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .input_playlist input[type='text'] {
        font-size: 1rem;
        font-weight: 400;
    }

    .track_name {

        font-size: 1.25rem;
        font-weight: 400;

    }

    .playlist_input input {
        width: 150px;
        height: 40px;
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 0.9rem;
    }


    .artist_name,
    .album_name,
    .album_link {
       
        font-size: 0.8rem;
        margin-right: 5px;
        text-align: center;
        margin-top: 10px;
    }
}
@media only screen and (max-width:355px) {
  

    .result {
        font-size: 1rem;
        font-weight: 400;
    }

    .input_playlist input[type='text'] {
        font-size: 1rem;
        font-weight: 400;
    }

    .track_name {

        font-size: 0.8rem;
        font-weight: 500;

    }


    .artist_name,
    .album_name,
    .album_link {
       
        font-size: 0.7rem;
        margin-right: 5px;
        text-align: center;
        margin-top: 30px;
    }

    .playlist_input input {
        width: 100px;
        height: 30px;
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: 0.6rem;
    }
}